.boost {
    background-image: url(./book.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Default: transparent glass effect */
.ghost {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.founder {
  text-align: start;
  padding-left: 30px;
  padding-top: 20px;
}
.each {
  padding-top: 30px;
  background-color: #e2e8f0;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 400px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  
}

.each img {
  height: 100px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.eachs {
  padding-top: 30px;
  background-color: #e2e8f0;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 400px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  
}

.eachs img {
  height: 100px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.eachss {
  padding-top: 30px;
  background-color: #e2e8f0;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 400px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  
}

.eachss img {
  height: 100px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.echo {
  padding-top: 30px;
  background-color: #e2e8f0;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 400px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  
}

.echo img {
  height: 100px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.eacho {
  padding-top: 30px;
  background-color: #e2e8f0;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 500px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  
}
.opo {
  display: flex;
}
.founder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.eacho img {
  height: 100px;
  border-radius: 20px;
  padding-bottom: 20px;
}
/* When scrolled: solid navy color */
.ghost.scrolled {
  background-color: #f1f1f1;
  backdrop-filter: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 10px solid #e2e8f0;
}
 h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Use 400, 500, or 700 depending on thickness you want */
  font-style: normal;
}

p, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight for text */
  font-style: normal;
}
@media (max-width: 768px) {
  /* Styles for mobile phones */
  .founder {
    display: block;
    margin-right: 30px;
  }
}
